<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Search</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="js/advanced-search.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="resources/CollabSeek-Logo.png" alt="CollabSeek">
            </a>
        </div>
        <div id="navbar5" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/my-profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

    <h1>Advanced Search</h1>
    <form action="/advanced-search" method="POST">

        <div class="row">
            <div class="form-group col-sm-4">
                <label for="first">First Name:</label>
                <input type="text" class="form-control" id="first" name="first">
            </div>
            <div class="form-group col-sm-4">
                <label  for="last">Last Name:</label>
                <input type="text" class="form-control " id="last" name="last">
            </div>
        </div>
        <div id="degree_set">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="discipline">Discipline:</label>
                    <select id="discipline" name="discipline" class="js-example-basic-single js-states form-control" multiple="multiple">
                        <% if(locals.disciplines){%>
                        <%if (disciplines.length > 0){disciplines.forEach(function(discipline){%>
                        <option><%= discipline %></option>
                        <%})}}%>
                    </select>
                </div>
            </div>
        </div>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

        <div class="row">
            <div class="form-group col-sm-12">
                <label for="position">Position:</label>
                <select id = "position" name = "position" class="js-example-basic-single js-states form-control">
                    <% if(locals.positions){%>
                    <%if (positions.length > 0){positions.forEach(function(position){%>
                    <option><%= position %></option>
                    <%})}}%>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label for="department">Department/Institute:</label>
                <select id="department" name="department" class="js-example-basic-single js-states form-control" multiple="multiple">
                    <% if(locals.departments){%>
                    <%if (departments.length > 0){departments.forEach(function(department){%>
                    <option><%= department %></option>
                    <%})}}%>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label for="specialty">Specialties:</label>
                <select id = "specialty" name = "specialty" class="js-example-basic-single js-states form-control" multiple="multiple">
                    <% if(locals.specialties){%>
                    <%if (specialties.length > 0){specialties.forEach(function(specialty){%>
                    <option><%= specialty %></option>
                    <%})}}%>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-sm-12">
                <label for="skill">Skills:</label>
                <select id = "skill" name="skill" class="js-example-basic-single js-states form-control" multiple="multiple">
                    <% if(locals.skills){%>
                    <%if (skills.length > 0){skills.forEach(function(skill){%>
                    <option><%= skill %></option>
                    <%})}}%>
                </select>
            </div>
        </div>

        <div class = "row">
            <div class="form-group col-sm-12">
                <label for="facility">Facilities/Resources:</label>
                <select id = "facility" name="facility" class="js-example-basic-single js-states form-control" multiple="multiple">
                    <% if(locals.facilities){%>
                    <%if (facilities.length > 0){facilities.forEach(function(facility){%>
                    <option><%= facility %></option>
                    <%})}}%>
                </select>
            </div>
        </div>


        <button type="submit" id="searchButton"><i class="fas fa-search"></i></button>
    </form>
    <!--<div id="prefetch">-->
    <!--<input class="typeahead" type="text" placeholder="Search here" name="search">-->
    <!--</div>-->

</body>
</html>