<!doctype html>
<html lang="en">
<head>
    <title>Create Profile</title>
    <% include templates/head.ejs%>
    <script type="text/javascript" src="js/create-profile.js"></script>
</head>
<body class="container">


    <div class="page-header">
        <h1>Create Profile</h1>
    </div>

    <% include templates/navbar.ejs%>

<div class="container jumbotron">
<form  id= 'User' action="/create-profile" method ="post" role="form">
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="first">First Name:</label>
            <input type="text" class="form-control" id="first" name="first">
        </div>
        <div class="form-group col-sm-4">
            <label  for="last">Last Name:</label>
            <input type="text" class="form-control " id="last" name="last">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="degree">Degree:</label>
            <select id="degree" name="degree" class="form-control">
                <% if(locals.degrees){%>
                <%if (degrees.length > 0){degrees.forEach(function(degree){%>
                <option><%= degree %></option>
                <%})}}%>
            </select>
        </div>
        <div class="form-group col-sm-4">
            <label for="discipline">Discipline:</label>
            <select id = "discipline" name = "discipline" class="form-control">
                <% if(locals.disciplines){%>
                <%if (disciplines.length > 0){disciplines.forEach(function(discipline){%>
                <option><%= discipline %></option>
                <%})}}%>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="department">Department:</label>
            <select multiple = 2 id = "department" name = "department" class="form-control">
                <% if(locals.departments){%>
                <%if (departments.length > 0){departments.forEach(function(department){%>
                <option><%= department %></option>
                <%})}}%>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label for="position">Position:</label>
            <select id = "position" name = "position" class="form-control">
                <% if(locals.positions){%>
                <%if (positions.length > 0){positions.forEach(function(position){%>
                <option><%= position %></option>
                <%})}}%>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label for="skill">Skill:</label>
            <select id = "skill" name="skill" class="form-control">
                <% if(locals.skills){%>
                <%if (skills.length > 0){skills.forEach(function(skill){%>
                <option><%= skill %></option>
                <%})}}%>
            </select>
        </div>
    </div>

    <div class = "row">
        <div class="form-group col-sm-4">
            <label for="facility">Facility:</label>
            <select id = "facility" name="facility" class="form-control">
                <% if(locals.facilities){%>
                <%if (facilities.length > 0){facilities.forEach(function(facility){%>
                <option><%= facility %></option>
                <%})}}%>
            </select>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>

</form>

</div>

</body>
</html>