<!doctype html>
<html lang="en">
<head>
    <title>Create Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/create-profile.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">

    <div class="page-header">
        <h1>Create Profile</h1>
    </div>

<div class="container jumbotron">
<form  id= 'User' action="/create-profile" method ="post" role="form">

    <div class="row">
        <div class="form-group col-sm-4">
            <label for="first">Preferred Name:</label>
            <input type="text" class="form-control" id="first" name="first">
        </div>
        <div class="form-group col-sm-4">
            <label  for="last">Last Name:</label>
            <input type="text" class="form-control " id="last" name="last">
        </div>
    </div>
    <div id="degree_set">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="degree">Degree:</label>
                <select id="degree" name="degree" class="form-control">
                    <% if(locals.degrees){%>
                    <%if (degrees.length > 0){degrees.forEach(function(degree){%>
                    <option><%= degree %></option>
                    <%})}}%>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="discipline">Discipline:</label>
                <select id = "discipline" name = "discipline" class="form-control">
                    <% if(locals.disciplines){%>
                    <%if (disciplines.length > 0){disciplines.forEach(function(discipline){%>
                    <option><%= discipline %></option>
                    <%})}}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <button type="button" id="add_degree" class="btn btn-default">Add Degree</button>
        </div>
    </div>

    <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="position">Position:</label>
            <select id = "position" name = "position" class="form-control">
                <% if(locals.positions){%>
                <%if (positions.length > 0){positions.forEach(function(position){%>
                <option><%= position %></option>
                <%})}}%>
            </select>
        </div>
    </div>

    <div id="dept_set">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="department">Department/Institute:</label>
                <select id = "department" name = "department" class="form-control">
                    <% if(locals.departments){%>
                    <%if (departments.length > 0){departments.forEach(function(department){%>
                    <option><%= department %></option>
                    <%})}}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <button type="button" id="add_department" class="btn btn-default">Add Department</button>
        </div>
    </div>
    <div id="specialty_set">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="specialty">Specialties:</label>
                <select id = "specialty" name = "specialty" class="form-control">
                    <% if(locals.specialties){%>
                    <%if (specialties.length > 0){specialties.forEach(function(specialty){%>
                    <option><%= specialty %></option>
                    <%})}}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <button type="button" id="add_specialty" class="btn btn-default">Add Specialty</button>
        </div>
    </div>

    <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

    <div id="skill_set">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="skill">Skill:</label>
                <select id = "skill" name="skill" class="form-control">
                    <% if(locals.skills){%>
                    <%if (skills.length > 0){skills.forEach(function(skill){%>
                    <option><%= skill %></option>
                    <%})}}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <button type="button" id="add_skill" class="btn btn-default">Add Skill</button>
        </div>
    </div>

    <div id="facility_set">
        <div class = "row">
            <div class="form-group col-sm-6">
                <label for="facility">Facility:</label>
                <select id = "facility" name="facility" class="form-control">
                    <% if(locals.facilities){%>
                    <%if (facilities.length > 0){facilities.forEach(function(facility){%>
                    <option><%= facility %></option>
                    <%})}}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <button type="button" id="add_facility" class="btn btn-default">Add Facility</button>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>

</form>

</div>

</body>
</html>