<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body class="container">
<div class="page-header">
    <h1>Edit Profile</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container row">
    <div class="row">
        <div class="col-sm-4">
            <img src="resources/profile-icon.png" style="height:200px; width:auto; padding-top:2%; padding-left: 2%">
            <h3>Email: <a href="mailto:<%=locals.email%>"><%=locals.email%></a></h3>
        </div>
        <div class="col-sm-8">
            <% if(locals.position){%>
            <h3>Position: <small><%= position %></small></h3>
            <%}%>

            <% if(locals.departments){%>
            <%if (departments.length > 0){%>
            <h3>Department: <small>
                <%departments.forEach(function(department){%>
                |<%=department.name %>|
                <%})%>
            </small></h3><%}}%>

            <% if(locals.degrees && locals.disciplines){%>
            <% if(degrees.length > 0){%>
            <table class="table">
                <thead>
                <th><h3>Degree</h3></th>
                <th><h3>Discipline</h3></th>
                </thead>
                <tbody>
                <%for(var i = 0; i < degrees.length; i++){%>
                <tr>
                    <td><%= degrees[i] %></td>
                    <td><%= disciplines[i] %></td>
                </tr>
                </tbody>
                <%}}}%>
            </table>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Specialties</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Skills</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Facilities <span class="glyphicon glyphicon-pencil"></span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <% if(locals.specialties){%>
            <div class="well well-sm">
                <%if (specialties.length > 0){%>
                <%specialties.forEach(function(specialty){%>
                <p><%= specialty.name %></p>
                <%})}}%>
            </div>
        </div>
        <div class="col-sm-4">
            <% if(locals.skills){%>
            <div class="well well-sm">
                <%if (skills.length > 0){%>
                <%skills.forEach(function(skill){%>
                <p><%= skill.name %></p>
                <%})}}%>
            </div>
        </div>
        <div class="col-sm-4">
            <% if(locals.facilities){%>
            <div class="well well-sm">
                <%if (facilities.length > 0){%>
                <%facilities.forEach(function(facility){%>
                <p><%= facility.name %></p>
                <%})}}%>
            </div>
        </div>
    </div>

</div>
</body>
</html>