<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="../js/load-image.all.min.js"></script>


    <script>
        var imageUrl = "../Images/<%=imagePath%>";
        loadImage(
            imageUrl,
            function (img) {
                if(img.type === "error") {
                    console.log("Error loading image " + imageUrl);
                } else {
                    document.getElementById("imageDiv").appendChild(img);
                }
            },
            {maxWidth: 200,
                orientation: true}
        );
    </script>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../resources/CollabSeek-Logo.png" alt="CollabSeek">
            </a>
        </div>
        <div id="navbar5" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/my-profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>


<div class ="container-fluid pad">
    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm">
                <% if(locals.imagePath){%>
                <div id = "imageDiv"  style="text-align: center">
                </div>
                <%} else {%>
                <% var initials = first.charAt(0) + last.charAt(0); %>
                <div class="circle"><%=initials%></div>
                <%}%>

                <h4 style="text-align:center;"><%=first%> <%=last%></h4>

                <hr/>

                <% if(locals.pronouns){%>
                <h5><span style="color:#3498db"><i class="fas fa-user" title="Pronouns"></i></span>&nbsp;&nbsp;Pronouns: <%=locals.pronouns %></h5>
                <%}%>

                <% if(locals.degrees && locals.disciplines){%>
                <% if(degrees.length > 0){%>
                <h5><span style="color:#3498db"><i class="fas fa-graduation-cap" title="Degrees"></i></span>&nbsp;&nbsp;Degrees</h5>
                <ul>
                <%for(var i = 0; i < degrees.length; i++){%>
                    <li><%= degrees[i] %> in <%= disciplines[i] %></li>
                <%}%>
                </ul>
                <%}}%>

                <hr/>

                <h5><span style="color:#3498db"><i class="fas fa-envelope" title="Email"></i></span>&nbsp;&nbsp;<a href="mailto:<%=locals.email%>"><%=locals.email%></a></h5>

                <% if(locals.phone){%>
                <h5><span style="color:#3498db"><i class="fas fa-phone-volume" title="Phone Number"></i></span>&nbsp;&nbsp;<%=locals.phone %></h5>
                <%}%>

                <% if(locals.website){%>
                <h5><span style="color:#3498db"><i class="fas fa-globe" title="Website"></i></span>&nbsp;&nbsp;<a href="<%=locals.website %>"><%=locals.website %></a></h5>
                <%}%>

                <hr/>

                <% if(locals.availability){%>
                <h5><span style="color:#3498db"><i class="fas fa-calendar-check" title="Availability"></i></span>&nbsp;&nbsp;Availability: <%=locals.availability%>/5</h5>
                <%}%>

                <% if(locals.position){%>
                <h5><span style="color:#3498db"><i class="fas fa-id-card" title="Position"></i></span>&nbsp;&nbsp;<%=locals.position %></h5>
                <%}%>

                <% if(locals.departments){%>
                <%if (departments.length > 0){%>
                <h5><span style="color:#3498db"><i class="fas fa-building" title="Departments"></i></span>&nbsp;&nbsp;Departments and Institutes</h5>
                <ul>
                <%departments.forEach(function(department){%>
                    <li><%=department.name %></li>
                <%})%>
                </ul>
                <%}}%>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <% if(locals.intro){%>
                <div class="well well-sm">
                    <h4><span style="color:#3498db"><i class="fas fa-quote-left"></i></span>
                        &nbsp;&nbsp;<%= intro %>&nbsp;&nbsp;<span style="color:#3498db"><i class="fas fa-quote-right"></i></span></h4>
                </div>
                <%}%>
            </div>

            <div class="row">
            <div class="col-sm-4">
                <div class="well well-sm">
                    <h3>Specialties</h3>
                </div>
                <% if(locals.specialties){%>
                <%if (specialties.length > 0){%>
                <div class="well well-sm">
                    <%specialties.forEach(function(specialty){%>
                    <p><%= specialty.name %></p>
                    <%})}}%>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well well-sm">
                    <h3>Skills</h3>
                </div>
                <% if(locals.skills){%>
                <%if (skills.length > 0){%>
                <div class="well well-sm">
                    <%skills.forEach(function(skill){%>
                    <p><%= skill.name %></p>
                    <%})}}%>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well well-sm">
                    <h3>Facilities</h3>
                </div>
                <% if(locals.facilities){%>
                <%if (facilities.length > 0){%>
                <div class="well well-sm">
                    <%facilities.forEach(function(facility){%>
                    <p><%= facility.name %></p>
                    <%})}}%>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>