<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div class = "container-fluid" style="margin-top:60px;">


    <div class="jumbotron col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <form action="/profile-reset" method="post">
            <div class = "inputContainer">
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <input type="text" name="current_password" placeholder="Current Password" class="current_password"/>
            </div>
            <div class="inputContainer">
                <span class="icon" style=""><i class="fas fa-key"></i></span>
                <input type="password" name="new_password" class="field" placeholder="New Password"/>
            </div>
            <div class="inputContainer">
                <span class="icon" style=""><i class="fas fa-key"></i></span>
                <input type="password" name="confirm_password" class="field" placeholder="Confirm New Password"/>
            </div>
            <div class="buttonContainer">
                <input class="btn btn-primary login" type="submit" value="Change Password"/>
            </div>
        </form>


    </div>
</div>
</body>
</html>