<html>
<head>
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">

    <script src="../js/load-image.all.min.js"></script>

    <script>
        var imageUrl = "../Images/<%=imagePath%>";
        loadImage(
            imageUrl,
            function (img) {
                if(img.type === "error") {
                    console.log("Error loading image " + imageUrl);

                    var icon = document.createElement("IMG");

                    icon.src = "../resources/profile-icon.png";
                    document.getElementById("imageDiv").appendChild(icon);
                } else {
                    document.getElementById("imageDiv").appendChild(img);
                }
            },
            {maxWidth: 200,
                orientation: true}
        );
    </script>

</head>
<body class="container">
<div class="jumbotron text-center">
    <h2><% if(locals.first && locals.last){%>
        <%= first %> <%= last%>
        <%}%></h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/my-profile">Profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container row">
    <div class="row">
        <div class="col-sm-4">
            <% if(locals.imagePath){%>
            <div id = "imageDiv"  style="text-align: center">
            </div>
            <%} else {%>
                <img src="../resources/profile-icon.png" style="height:200px; width:auto; padding-top:2%; padding-left: 2%">
            <%}%>

            <div class="well well-sm">
                <h4>Name: <small><%=first%> <%=last%></small></h4>
                <% if(locals.pronouns){%>
                <h4>Pronouns: <small><%=locals.pronouns %></small></h4>
                <%}%>
                <% if(locals.position){%>
                <h4>Position: <small><%= position %></small></h4>
                <%}%>
                <h4 class="text-left">Email: <small><a href="mailto:<%=locals.email%>"><%=locals.email%></a></small></h4>
                <% if(locals.phone){%>
                <h4>Phone Number: <small><%=locals.phone %></small></h4>
                <%}%>
                <% if(locals.website){%>
                <h4>Website: <small><%=locals.website %></small></h4>
                <%}%>
                <% if(locals.availability){%>
                <h4>Availability: <small><%=locals.availability%>/5</small></h4>
                <%}%>
            </div>
        </div>
        <div class="col-sm-8">
            <% if(locals.intro){%>
            <h3><%= intro %></h3>
            <%}%>

            <% if(locals.departments){%>
            <%if (departments.length > 0){%>
            <h3>Department: <small>
            <%departments.forEach(function(department){%>
            |<%=department.name %>|
                <%})%>
            </small></h3><%}}%>

            <% if(locals.degrees && locals.disciplines){%>
            <% if(degrees.length > 0){%>
            <table class="table">
                <thead>
                <th><h3>Degree</h3></th>
                <th><h3>Discipline</h3></th>
                </thead>
                <tbody>
                <%for(var i = 0; i < degrees.length; i++){%>
                <tr>
                    <td><%= degrees[i] %></td>
                    <td><%= disciplines[i] %></td>
                </tr>
                </tbody>
            <%}}}%>
            </table>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Specialties</h3>
            </div>
            <% if(locals.specialties){%>
            <%if (specialties.length > 0){%>
            <div class="well well-sm">
                <%specialties.forEach(function(specialty){%>
                <p><%= specialty.name %></p>
                <%})}}%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Skills</h3>
            </div>
            <% if(locals.skills){%>
            <%if (skills.length > 0){%>
            <div class="well well-sm">
                <%skills.forEach(function(skill){%>
                <p><%= skill.name %></p>
                <%})}}%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well well-sm">
                <h3>Facilities</h3>
            </div>
            <% if(locals.facilities){%>
            <%if (facilities.length > 0){%>
            <div class="well well-sm">
                <%facilities.forEach(function(facility){%>
                <p><%= facility.name %></p>
                <%})}}%>
            </div>
        </div>
    </div>
</div>
</body>
</html>