<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/homepage.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/change-password.css">

</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="resources/CollabSeek-Logo.png" alt="CollabSeek">
            </a>
        </div>
        <div id="navbar5" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top:60px;">
    <div class="row">
        <h2 class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3" style="padding-left:9px">Change Your Password</h2>
    </div>
    <div class="jumbotron col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <% if (locals.error) {%>
        <h4><%=locals.error%></h4>
        <% } %>
        <form action="/profile-reset" method="post">
            <div class = "inputContainer">
                <span class="icon" style=""><i class="fas fa-key"></i></span>
                <%if (locals.saved_password){ %>
                <input type="password" name="current_password" placeholder="Current Password" class="field" value="<%=saved_password%>"/>
                <% } else { %>
                <input type="password" name="current_password" placeholder="Current Password" class="field" />
                <% } %>
            </div>
            <div class="inputContainer">
                <span class="icon" style=""><i class="fas fa-key"></i></span>
                <input type="password" name="new_password" class="field" placeholder="New Password"/>
            </div>
            <div class="inputContainer">
                <span class="icon" style=""><i class="fas fa-key"></i></span>
                <input type="password" name="confirm_password" class="field" placeholder="Confirm New Password"/>
            </div>
            <div class="buttonContainer">
                <input class="btn btn-primary login" type="submit" value="Reset Password"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>