<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <h2> Enter your email address below</h2>
</head>
<body> Forgot your password? let us help you!</body>
<div class=" container row">
    <form action ="/resetpassword" id = "email-confirm" method="post">
        <div>
            <div><input type ="text"  name = "email"/>
            </div>
        <input class="btn btn-primary" type="submit" value="email"/>
        </div>
    </form>

</div>

</html>