<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>

</head>
<
<div class=" container row">
    <h2> Enter your email address below</h2>
    <form action ="/resetpassword" id = "email-confirm" method="post">
        <div>
            <body> Please let use help you! </body>
            <div>
                <input type ="text"  name = "email"/>
            </div>
        <input class="btn btn-primary" type="submit" value="email"/>
        </div>
    </form>

</div>

</html>