<html>

<head>
    <title>User Creation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="UserAjax.js"></script>
    <link rel="stylesheet" type="text/css" href="UserStyle.css">


</head>
<body>
<form  id= 'User' action="#" method ="post">

    <input type="text" placeholder="First Name" required>
    <input type="text" placeholder="Last Name" required>
    <input type="text" placeholder="ONYEN" required>
    <select value ="Position" style="width:200px";>
        <option value = "Undergraduate">Undergraduate</option>
    </select>

    <select value ="DegreeField" style="width:200px";>
        <option value = "Accounting">Accounting</option>
    </select>

    <select value = "DegreeField"style="width:200px";>
        <option value = "A.S">A.S.</option>
    </select>

    <select multiple =2 value = "Department" sytle= "width:200px";>
        <option>African, African American and Diaspora Studies</option>
    </select>
</form>

</body>
</html>