<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/verify" method="post">
            <div>
                <label>Token:</label>
                <input type="text" name="token"/>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Log In"/>
            </div>
        </form>
    </div>
</div>
</body>
<body>

</body>
</html>