<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,700,400" rel="stylesheet">
    <script type="text/javascript" src="js/welcome.js"></script>
</head>

<body>
<div class="fullscreen background" style="background-image:url('resources/backgroundNewEdited.jpg');"
     data-img-width="6016" data-img-height="4016">
    <div class="header">
        <img src="resources/CollabSeek-Logo%20hp3%2075.png" style="height:32px; width:auto; padding-top:2%; padding-left: 2%;">
    </div>
    <div class="content-a">
        <div class="content-b" id="content">
            <div class="text" id="title">
                Connect With Other Researchers
            </div>
            <div class="text fadeInThird">
                CollabSeek is a place for academic researchers to find others to work with based on individuals
                different skills and resources.
            </div>
            <div id="linkContainer" class="text fadeInSecond">
                <div id="linkedIn">
                    <button id="login" onclick="location.href='/login';">Log In</button>
                </div>
                <div id="github">
                    <button id="signup" onclick="location.href='/signup';">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>