.inputContainer input.field {
    border: none;
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width:86%;
    margin-bottom: 10px;
}

.inputContainer {
    line-height: 2.8;
}

.icon {
    background-color: white;
    padding: 1.722ex;
    z-index: 1;
    margin-right: -5px;
    color: #2c3e50;
}

.login {
    margin-left: 5px;
    background-color:#4B9CD3;
    border: none;
}


.jumbotron {
    background-color: #ecf0f1;
    padding-top:20px;
    padding-bottom: 20px;
}

.buttonContainer{
    float:right;
}

#password + .fas {
    cursor: pointer;
    pointer-events: all;
}

/* Styles for CodePen Demo Only */
#wrapper {
    max-width: 500px;
    margin: auto;
    padding-top: 25vh;
}