.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.input-large { width: 300px; }

.affix {
    top:50px;
    position:fixed;
}
