h3 {
    display: inline;
    padding-left:5px;
}

div>a {
    float:right;
    padding-right:5px;
}

h5 {
    margin-bottom: 0px;
    float: left;
    padding-left:3px;

}

.jumbotron {
    background-color: #ecf0f1;
}

.newsearch {
    float:right;
    margin-right:3px;
}